<div class="col-12 login-div-container">
    <div class="col-sm-4 text-center login-div">
        <form [formGroup]="login" class="p-2">
            <p class="login-word"> login</p>
            <!-- <div class="form-group">
                <input type="email" class="form-control" placeholder="email" formControlName="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" formControlName="pass">
            </div> -->
            <div class="form-group">
                <input type="tel" class="form-control" placeholder="phone" #tel>
            </div>
            <div class="text-center btn-login-div">
                <button class="btn btn-login" (click)="phone(tel.value)">login</button>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a (click)="google()"><i class="bi bi-google icon-login"></i></a>
                    <a href=""><i class="bi bi-facebook icon-login"></i></a>
                </div>
                <a routerLink="/sign-up" class="signUp">sign up now? </a>
            </div>
        </form>
    </div>
</div>